.h2-mobile {
	display: none;
	@include titulo-bg();
}
.intro {
	padding-top: 50px;
	min-height: 90vh;
	width: 90%;
	margin: auto;
	flex-wrap: wrap;
	@include flex(space-between, center, row);

	.intro-text .h2-desktop {
		font-size: 8rem;
		padding-top: 2rem;
		display: inline-block;
		@include titulo-bg();
	}
	h3 {
		font-size: 6rem;
		padding: 2rem 0rem;
	}
	p {
		padding-top: 2rem;
		color: $gray-text;
	}
	.blog-text {
		text-decoration: underline;
		color: red;
	}
}

.splash {
	position: absolute;
	top: 0%;
	right: 0%;
	height: 100%;
	z-index: -1;
}

.intro-social {
	margin-top: 4rem;

	a {
		margin-right: 5rem;
	}
}

.intro-text,
.intro-images {
	flex: 1 1 40rem;
}

#plant-left {
	animation: plant 1.5s ease infinite alternate;
	transform-box: fill-box;
	transform-origin: bottom;
}

#plant-right {
	animation: plant 1.5s ease infinite alternate 0.5s;
	transform-box: fill-box;
	transform-origin: bottom;
}

#me {
	animation: me 2s ease infinite alternate;
	transform-origin: bottom;
}

#clock-arrow {
	animation: clock 3s linear infinite;
	transform-box: fill-box;
	transform-origin: bottom;
}

@keyframes plant {
	from {
		transform: rotateZ(2deg);
	}
	to {
		transform: rotateZ(-5deg);
	}
}

@keyframes me {
	from {
		transform: rotateZ(-1deg);
	}
	to {
		transform: rotateZ(1deg);
	}
}

@keyframes clock {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
