$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(to left, #38d39f, #38a4d3);
$bg-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@import "global";
@import "intro";
@import "proyects";
@import "contact";
@import "footer";
@import "navbar";

@media screen and (max-width: 1332px) {
	html {
		font-size: 53%;
	}
	.splash {
		display: none;
	}
	.intro-images {
		justify-content: center;
		display: flex;
	}
	svg {
		width: 90%;
	}
}
@media (max-width: 48em) {
	.intro {
		padding-top: 60px;
	}

}

@media screen and (max-width: 754px) {
	html {
		font-size: 45%;
	}
	svg {
		height: 60%;
	}
	.main-head {
		width: 100%;
	}
	.intro-text {
		margin-top: 2rem;
		text-align: center;
		h2 {
			font-size: 5rem;
		}
		p {
			text-align: start;
			font-size: 2.1rem;
			line-height: 2;
		}
	}
	.intro-social {
		@include flex(center, center, row);
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 20px 0 20px;
		}
		a img {
			width: 60%;
		}
	}
	.intro-images {
		text-align: center;
	}
	.elena,
	.travelly {
		flex: 1 1 50rem;
		img {
			width: 100%;
			height: 100%;
		}
	}
	footer h4 {
		font-size: 1.2rem;
	}
}
